.footer
    display: flex
    justify-content: space-between
    padding-top: 24px

    border-top: 1px solid $border

    &__link
        color: $text-link

    &__socials
        display: flex
        column-gap: 16px

        @media (max-width: 1023px)
            column-gap: 4px
