<article class="article">
  <div class="article__content">
    <h1 class="article__title">
      36,6 градусів за Цельсієм і пізна&shyвальна фізика
    </h1>
    <p class="bold">
      Ніхто не замислювався чому температура людського тіла 36,6 С? Чому не
      інша? Чому не дорівнює денній температурі навколишнього простору,
      наприклад? Але чому так сталося? Перша причина лежить від нас на часовій
      осі в минулому на відстані в кілька мільярдів років. Саме тоді з'явилося
      життя.
    </p>
    <p>
      Грубо кажучи, первинні реплікатори обгородилися захисною оболонкою від
      решти океану - створивши клітини. Клітини це замкнуті водні резервуари, в
      яких вся життєдіяльність проходить у водному середовищі. І всі сухопутні
      організми концептуально це машини виживання реплікаторів, мобільне (у
      випадку з тваринами), сприятливе водне середовище для репродукції, оточене
      захисною оболонкою від зовнішнього світу.
    </p>
    <h2 class="article__subtitle">Шукаємо відповідь</h2>
    <p>
      Що цікаво, всі теплокровні функціонують у межах тієї самої області
      температур, що й людина. Наприклад температура у коней 37,5-38,5; у корів
      37,5-39,5; курей 40,5-42,5; свиней 39,0-40,0; кішок 38,0-39,5; мавп 38,1;
      голубів 41,0-44,0. Відповідь лежить у царині ні, не біології. А в галузі
      фізики води. Річ у тім, що теплоємність води нелінійно залежить від
      температури. Теплоємність - це кількість енергії, яку необхідно витратити
      для того, щоб нагріти 1 кг речовини на 1 градус. При збільшенні
      температури вона ніби пікірує, як штурмовик, і підноситься вгору після
      проходження нижньої точки в 36,8 градусів Цельсія. В організмі людини вода
      становить близько 65-70%, її теплоємність величезна.
    </p>
    <blockquote>
      Річ у тім, що теплоємність води нелінійно залежить від температури.
      Теплоємність — це кількість енергії, яку необхідно витратити для того, щоб
      нагріти 1 кг речовини на 1 градус. При збільшенні температури вона ніби
      пікірує, як штурмовик, і підноситься вгору після проходження нижньої точки
      в 36,8 градусів Цельсія. В організмі людини вода становить близько 65-70%,
      її теплоємність величезна.
    </blockquote>
    <p>
      90% енергії, одержуваної з їжею, теплокровні тому витрачають лише на
      підтримання постійної температури внутрішнього середовища. На нагрівання
      води. Тому ця ямка, мінімум, в якому потрібно було витрачати мінімальну
      кількість енергії на підтримання свого стану, як атрактор, стягував на
      себе протягом еволюції всі "моделі" теплокровних. Фенотипи, з робочою
      температурою інших діапазонів, були занадто "ненажерливими" і відсіювалися
      відбором.
    </p>
    <h3 class="article__subtitle">Хлорофілл та краса</h3>
    <p>
      Могло статися так, що небо було б отруйно-жовте, а не блакитне. Трава так
      само червона. Подобався б нам такий пейзаж? Чому червоний, яскраво-жовтий,
      створюють відчуття неспокою і не підходять для ідилічних райських картин
      ландшафтів як блакитний і зелений? Справа не в них, а в нас. Ми продукт
      еволюції, продукт середовища, в якому ми розвивалися. Що і було показано
      на прикладі температури тіла.
    </p>
    <div class="article__table">
      <table>
        <thead>
          <tr>
            <th>Ім'я</th>
            <th>Сума</th>
            <th>Виплата</th>
            <th>Вид оплати</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Сергій</td>
            <td>2459 $</td>
            <td>375 $</td>
            <td>Card Payment</td>
          </tr>
          <tr>
            <td>Микола</td>
            <td>1569 $</td>
            <td>582 $</td>
            <td>Card Payment</td>
          </tr>
          <tr>
            <td>Наталія</td>
            <td>1759 $</td>
            <td>965 $</td>
            <td>Card Payment</td>
          </tr>
        </tbody>
      </table>
    </div>
    <p class="article__subtitle">
      Як знайти ці консервативні ознаки? Найчастіше розглядають 5 джерел
      інформації про них:
    </p>
    <ul>
      <li>ембріологічні дослідження;</li>
      <li>тератологічні дані;</li>
      <li>порівняльно-морфологічні дані;</li>
      <li>аналіз вроджених поведінкових програм (етологічні дані);</li>
      <li>вивчення взаємозв'язку з іншими видами.</li>
    </ul>
  </div>
  <div class="article__aside">
    <span class="article__aside-accent">0,71</span>
    <h4>WHR здорової людини</h4>
    <p>
      Один із вельми надійних показників здоров'я, фертильності, якраз
      <span> «waistto hip ratio» </span>
    </p>
  </div>
</article>
