<div class="banner">
  <div class="banner__wrapper">
    <div class="banner__offer">$75 ЗНИЖКА</div>
    <div class="banner__inner">
      <p class="banner__type">промокод</p>
      <p class="banner__description">
        Знижка $75 готівкою при проживанні від 10 ночей
      </p>
      <p class="banner__count">29 користувачів використали промокод</p>
    </div>
    <button type="button">Отримати знижку</button>
  </div>
  <div class="banner__more">
    <p>
      Дивіться подробиці
      <img src="images/arrow.svg" alt="show more arrow" />
    </p>
  </div>
</div>
