<section class="cards">
  <a href="#" class="cards__item card">
    <img
      class="card__img"
      src="images/card-1.jpg"
      srcset="images/card-1.jpg 1x, images/card-1-2x.jpg 2x"
      alt="tour image"
    />
    <div class="card__inner">
      <div>
        <h4 class="card__title heading">Шовковий шлях</h4>
        <p class="card__description">Екстремальний маршрут</p>
      </div>
      <div class="card__price">
        $158
        <span class="card__old-price"></span>
      </div>
    </div>
  </a>
  <a href="#" class="cards__item card">
    <img
      class="card__img"
      src="images/card-2.jpg"
      srcset="images/card-2.jpg 1x, images/card-2-2x.jpg 2x"
      alt="tour image"
    />
    <div class="card__inner">
      <div>
        <h4 class="card__title heading">Роупджампінг</h4>
        <p class="card__description">Не дай Боже не любиш</p>
      </div>
      <div class="card__price">
        $57
        <span class="card__old-price">$90</span>
      </div>
    </div>
  </a>
</section>
