<div class="discount">
  <div class="discount__wrapper">
    <div class="discount__offer">$75 ЗНИЖКА</div>
    <div class="discount__inner">
      <p class="discount__type">промокод</p>
      <p class="discount__description">
        Знижка $75 готівкою при проживанні від 10 ночей
      </p>
      <p class="discount__count">29 користувачів використали промокод</p>
    </div>
    <button type="button">Отримати знижку</button>
  </div>
  <div class="discount__more">
    <p>
      Дивіться подробиці
      <img src="images/arrow.svg" alt="show more arrow" />
    </p>
  </div>
</div>
