<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a class="header__logo" href="#" aria-label="link to home page">
        <img src="images/logo.svg" alt="logo" />
        <p class="header__title">Мережа турагенств «Сонце в колі»</p>
      </a>
      <div class="header__phone">
        <span>044 123-45-67</span>
        <button type="button">зворотний дзвінок</button>
      </div>
      <include src="./partials/socials.html"></include>
    </div>
  </div>
</header>
