<section class="promo">
  <div class="promo__image">
    <img
      src="images/promo.jpg"
      srcset="images/promo.jpg 1x, images/promo-2x.jpg 2x"
      alt="hotel"
    />
    <img class="promo__corner" src="images/corner.svg" alt="white background" />
    <div class="promo__details">
      <p class="promo__type">Тур у Созополь, Болгарія</p>
      <div class="promo__code">код туру<span>3094119</span></div>
    </div>
  </div>
  <div class="promo__content">
    <a class="promo__title heading">Aquamarine hotel</a>
    <include src="./partials/star-rating.html"></include>
    <span class="promo__price">$256</span>
    <div class="promo__advantages"><span>320</span>сонячних днів на рік</div>
  </div>
  <include src="./partials/rating.html"></include>
</section>
