@font-face {
  font-family: 'Trebuchet MS';
  font-style: normal;
  font-weight: normal;
  src: url('trebuc.woff') format('woff'), url('trebuc.ttf') format('truetype');
}

@font-face {
  font-family: 'Trebuchet MS Italic';
  font-style: normal;
  font-weight: normal;
  src: url('Trebuchet-MS-Italic.woff') format('woff');
}
