<div class="rating">
  <div class="rating__count">Оцінка готелю<span>45 відгуків</span></div>
  <div class="rating__total">8,4</div>
  <div class="rating__type">
    номер
    <div class="rating__score">8,9</div>
  </div>
  <div class="rating__type">
    харчування
    <div class="rating__score">8,1</div>
  </div>
  <div class="rating__type">
    сервіс
    <div class="rating__score">7,9</div>
  </div>
  <div class="rating__type">
    інфраструктура
    <div class="rating__score">8,9</div>
  </div>
</div>
