.rating
    display: flex
    align-items: center
    flex-wrap: wrap

    line-height: 1.17
    font-style: normal

    @media (max-width: 767px)
        display: block

    &__wrapper
        display: flex
        align-items: center

    &__count
        margin-right: 24px

        font-size: 12px
        letter-spacing: 0.05em
        text-transform: uppercase

        span
            display: block

            font-weight: 700

    &__total
        padding: 12px 7px
        margin-right: 24px
        margin-bottom: 8px

        color: $white
        font-family: 'Trebuchet MS'
        font-weight: 700
        font-size: 24px
        text-align: center

        background-color: $color-primary

    &__results
        display: flex
        align-items: center

    &__type
        font-size: 12px
        letter-spacing: 0.05em
        text-transform: uppercase

        &:not(:last-child)
            margin-right: 16px

        @media (max-width: 1023px)
            font-size: 10px

    &__score
        font-size: 18px
